/* InfoCookies.css */
.info-cookies {
    padding: 5%; /* Utilisation de pourcentages pour un meilleur ajustement */
    background: linear-gradient(to right, #D6C1A7, #4D4031);
    color: black;
    font-family: 'Times New Roman';
   
  }
  
  .cookie-content {
    border: 1px solid white;
    padding: 3%; /* Padding en pourcentages pour s'ajuster à la taille de l'écran */
    background-color: #F4F4F4;
  }
  
  /* Media Queries pour différentes tailles d'écran */
  
  /* Petits appareils (smartphones) */
  @media (max-width: 600px) {
    .info-cookies {
      padding: 3%;
      margin-top: 0%;
    }
  
    .cookie-content {
      padding: 3%;
      
    }
    
    h2 {
      font-size: 1.5rem; /* Taille de la police réduite pour les petits écrans */
      
    }
  }
  
  /* Tablettes */
  @media (min-width: 601px) and (max-width: 1024px) {
    .info-cookies {
      padding: 4%;
      margin-top: 3%;
    }
  
    .cookie-content {
      padding: 4%;
    }
  
    h2 {
      font-size: 2rem; /* Taille adaptée aux tablettes */
    }
  }
  
  /* Grands écrans (ordinateurs) */
  @media (min-width: 1025px) {
    .info-cookies {
      padding: 40px; /* Garde les mêmes dimensions pour les grands écrans */
      margin-top: 20px;
    }
  
    .cookie-content {
      padding: 20px;
    }
    
    h2 {
      font-size: 2.5rem; /* Grande taille de police pour les grands écrans */
    }
  }
  