/* Style de base pour le conteneur */
.main-content {
    display: flex;
    height: 75vh;
    background-color: linear-gradient(to right, #D6C1A7, #4D4031);
  }
 


  /* Section pour la promotion */
  .promo-section {
    display: flex;
    justify-content: space-between;
  }
  
  .promo-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .promo-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: (to right, #D6C1A7, #4D4031);
  }

  .promo-details h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
  }
  
  .promo-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
  }
  
  .promo-details p {
    font-size: 1rem;
    font-family: 'Times New Roman';
  }
  
  /* Responsivité */
  @media (max-width: 768px) {

    .main-content {
      width: 100%;
      padding: 20px;
    }
  
    .promo-section {
      flex-direction: column;
      align-items: center;
    }
  
  
    .promo-details {
      width: 100%;
    }
  }
  