/* Style de base pour le conteneur */
.main-content {
    display: flex;
    height: 75vh;
    background: linear-gradient(to right, #D6C1A7, #4D4031);
    flex-direction: column;
    justify-content: center;

  }
 


  /* Section pour la promotion */
  .promo-section {
    width: 100%; /* L'image prend toute la largeur de son conteneur */
    max-width: 500px; /* Limiter la largeur maximale pour les grands écrans */
    height: auto; /* Maintient le ratio de l'image */
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
  }
  

  .promo-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: (to right, #D6C1A7, #4D4031);
  }

  h2{
    font-size: 2rem;
    text-align: center;
    color: #333;
    font-family: 'Times New Roman';
  }
  
  .promo-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
  }
  
  .promo-details p {
    font-size: 1rem;
    font-family: 'Times New Roman';
  }
  
  /* Responsivité */
  @media (max-width: 768px) {

    .main-content {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrer le contenu */
    }
  
    .promo-section {
      flex-direction: column;
      align-items: center;
    }
    .promo-section img {
      max-width: 300px; /* Réduire la taille de l'image sur petits écrans */
    }
  
    .promo-details {
      width: 100%;
    }
  }
  